*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}

/* ^ Codigo para normalizar los estilos, debe estar siempre */


body {
    margin: 0;
    padding-top: 5rem;
    font-family: 'Lato', sans-serif;
    background-color: #0f172a;
    color: #f8fafc;
    height: 100vh;
}

#navbar {
    background-color: #0f172a;
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between; /* eje x, horizontal */
    align-items: center; /* eje y, vertical */
    padding: 0rem 1rem;
    color: #f8fafc;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border-bottom:1px solid #1e293b;
}

.bars-icon {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.2rem;
    transition: all 0.2s ease-in-out;
}

.bars-icon:hover {
    /*background-color: rgba(0, 0, 0, 0.2); al contratio de rgb, rgaba permite añadir la opacidad en el ultimo valor */
    background-color: #1e293b;
}

#logo {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
}

#links-container {
    display: none;
    gap: 1rem;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

#main-container {
    height: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#main-title {
    margin: 0;
    font-size: 4rem;
}

#title-accent {
    color: #ef4444;
}

#main-description {
    text-align: justify;
    font-size: 1.2rem;
    margin: 0;
}

#main-desc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#main-link {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    background-color: #ef4444;
    text-align: center;
    color: #0f172a;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

#main-link:hover {
    background-color:#bd3131;
}

@media (min-width: 768px) {
    .bars-icon {
        display: none;
    }

    #links-container {
        display: flex;
    }
    
    #main-container {
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    #main-container {
        flex-direction: row;
        width: 50%;
    }
}

